@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* general CSS */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
  background: hsl(206, 33%, 96%);
}

a{text-decoration: none;}
li{list-style: none;}

main{
  min-height: calc(100vh - 3em);
  display: grid;
  place-items: center;
}
.home-container,
.random-container{
  width: 80vw;
  max-width: 620px;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.55rem;
  position: relative;
  overflow: hidden;
}